  body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        width: 90%;
        margin: 2em;
      }
      a{font-weight: bold;}
      a,a.accessed:visited{color: gray}
      a:link {color:lime;}
      ul{color: olive}
      p{font-size: 80%}
      ol{font-size: 80%}
      em{font-weight:bold;}
      header img{float: left}
      header h2{font-size: 90% ; color:green;
                text-align:center}
      main{clear: left;}
     main p, main p.indent{text-indent: 2em}
      main h1{font-size: 170%}
      main h2{font-size: 130%}
      #content{float: left;
               width:45%;
               margin:1%;}
      #proglangs{float: right;
                 width:45%;
                 margin:1%;}
      footer p{font-size: 60%;
               text-align: center;
               color:blue;}

